.oask-hero {
	position: relative;
	overflow: hidden;
}

.oask-hero__wrapper {
	position: relative;
	display: flex;
	width: 100%;
	height: 100%;
}

.oask-hero__align-h-left {
	justify-content: flex-start;
}

.oask-hero__align-h-center {
	justify-content: center;
}

.oask-hero__align-h-right {
	justify-content: flex-end;
}

.oask-hero__align-v-top {
	align-items: flex-start;
}

.oask-hero__align-v-center {
	align-items: center;
}

.oask-hero__align-v-bottom {
	align-items: flex-end;
}

.oask-hero__background-wrapper,
.oask-hero__background-img {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: 0;
	pointer-events: none;
	user-select: none;
}

.oask-hero__content {
	position: relative;
	z-index: 10;
	padding: 2rem;
	text-align: center;
}
